---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-size-base: 15px;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Merriweather", $font-family-sans-serif;

$brand-primary: #448234;

$text-color: #1d1e18;
$body-bg-color: #e8f1f2;
$heading-color: white;
$heading-bg-color: $brand-primary;
$title-section-color: $text-color;
$title-section-bg-color: #87bba2;
$footer-color: white;
$footer-bg-color: #1d1e18;

$standard-margin: 20px;
$section-border-height: 4px;
$footer-height: 60px;
$alternate-footer-height: 100px;

$navbar-default-color: $heading-color;
$navbar-default-link-color: $heading-color;
$navbar-default-link-active-color: $heading-color;
$navbar-default-link-hover-color: $heading-color;
$navbar-default-link-hover-bg: darken($heading-bg-color, 5%);
$navbar-default-bg: $heading-bg-color;
$navbar-margin-bottom: 0;
$navbar-default-border: mix($heading-bg-color, $title-section-bg-color);
$navbar-border-radius: 0;

$body-bg: $body-bg-color;

$btn-default-bg: #dce0d9;

@import "bootstrap";
@import "base";
@import "layout";
@import "syntax-highlighting";
@import "icon-fonts";
