<footer>
    <div class="container">
        <div class="follow">
            <a href="{{"/feed.xml" | prepend: site.baseurl}}" target="_blank">
                <span class="icon-rss-square"></span>
                <span class="sr-only">RSS Feed</span>
            </a>
        </div>
        <div class="footer-text">
            <span class="copyright">
                {% assign year = site.time | date: "%Y" %}
                &copy; 2016-{{year}} Cole Cecil. All rights reserved.
            </span>
            <span class="separator"> | </span>
            <span class="privacy">
                <a href="{{site.baseurl}}/privacy-policy">Privacy Policy</a>
            </span>
        </div>
    </div>
</footer>
