---
layout: default
---
<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-4 col-md-offset-1">
                <h1 class="greeting">Nice to meet you!</h1>
                <p>{{site.description}}</p>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <h1>Posts</h1>
                <ul id="posts" class="list-unstyled">
                    {% for post in paginator.posts %}
                        <li>
                            <h2>
                                <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
                            </h2>
                            <time datetime="{{post.date | date_to_xmlschema}}">
                                {{post.date | date: "%B %-d, %Y"}}
                            </time>
                            <p class="post-excerpt">{{post.excerpt | remove: '<p>' | remove: '</p>'}}</p>
                            <a class="btn btn-default" href="{{post.url | prepend: site.baseurl}}">
                                Read More
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {% if paginator.total_pages > 1 %}
                    <nav>
                        <ul class="pager">
                            {% if paginator.previous_page %}
                                <li class="previous">
                                    <a class="btn btn-default" href="{{paginator.previous_page_path}}">
                                        <span aria-hidden="true">&larr;</span> Newer Posts
                                    </a>
                                </li>
                            {% endif %}
                            {% if paginator.next_page %}
                                <li class="next">
                                    <a class="btn btn-default" href="{{paginator.next_page_path}}">
                                        Older Posts <span aria-hidden="true">&rarr;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
</section>
