<footer>
    <div class="container">
        <div class="follow">
            <a href="https://twitter.com/{{site.twitter_username}}" target="_blank">
                <span class="icon-twitter-square"></span>
                <span class="sr-only">Follow me on Twitter</span>
            </a>
            <a href="{{"/feed.xml" | prepend: site.baseurl}}" target="_blank">
                <span class="icon-rss-square"></span>
                <span class="sr-only">RSS Feed</span>
            </a>
        </div>
        <div class="copyright">
            {% assign year = site.time | date: "%Y" %}
            &copy; 2016-{{year}} Cole Cecil. All rights reserved.
        </div>
    </div>
</footer>
