.navbar {
    border-bottom-width: $section-border-height;

    h1 {
        font-size: 20px;
        font-weight: normal;
        line-height: $line-height-computed;
    }

    .navbar-toggle {
        background-color: $btn-default-bg;
        border-style: none;
    }

    .navbar-toggle:hover {
        background-color: darken($btn-default-bg, 10%);
    }
}

.navbar-text {
    margin-left: 0;
}

.navbar-brand {
    padding-top: 0;

    img {
        border: 3px solid $heading-color;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
    }
}

#navbar-dropdown {
    background-color: $heading-bg-color;

    a {
        background-color: $heading-bg-color;
        color: $heading-color;
        border: 1px solid mix($heading-bg-color, $title-section-bg-color);
        border-radius: 0;
    }

    a:hover {
        background-color: $navbar-default-link-hover-bg;
    }
}

main {
    header {
        color: $title-section-color;
        background-color: $title-section-bg-color;
        font-size: 17px;
        border-bottom: $section-border-height solid mix($title-section-bg-color, $body-bg-color);

        h2 {
            font-size: 25px;
            font-weight: normal;
            margin-top: 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    h1 {
        border-bottom: 3px dotted black;
    }
}

#posts {
    li {
        background-color: white;
        border-radius: $border-radius-large;
    }
}

.post-date {
    font-style: italic;
    font-size: 12px;
}

footer {
    color: $footer-color;
    background-color: $footer-bg-color;
    border-top: $section-border-height solid mix($body-bg-color, $footer-bg-color);

    a {
        color: $footer-color;
        text-decoration: underline;
    }

    a:hover {
        color: $footer-color;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", $font-family-sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

code {
    color: #6f5475;
}
