#navbar-dropdown {
    position: absolute;
    top: $navbar-height + $section-border-height;
    right: 0;
    z-index: 1;
    min-width: 33%;

    @media (min-width: $screen-sm-min) {
        display: none;
    }
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: $footer-height + $section-border-height;
}

main {
    h1 {
        display: inline-block;
        margin-bottom: 0;
    }
}

#posts {
    li {
        margin-top: $standard-margin;
        padding: 15px;
    }

    h2 {
        margin: 0;
    }
}

article {
    header {
        margin-bottom: $standard-margin;
    }
}

footer {
    position: absolute;
    bottom: 0;
    height: $footer-height + $section-border-height;
    width: 100%;

    .copyright {
        margin-top: ($footer-height - $line-height-computed) / 2;
    }
}

h1 {
    margin-top: 0;
}

.row {
    margin-top: $standard-margin;
    margin-bottom: $standard-margin;
}

time {
    display: block;
    margin-bottom: $standard-margin / 2;
}
